*.pyo
.cache/
.mr.developer.cfg
b.sh
sys/
*minitage*
*~
*.pyc
*.swp
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.project
local.cfg
Paste-1.7.4-py2.6.egg/
PasteDeploy-1.3.3-py2.6.egg/
PasteScript-1.7.3-py2.6.egg/
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
develop-eggs/
downloads/
eggs/
include/
lib/
fake-eggs/
parts/
dist/
var/



# OSX
.DS_Store
